<footer class="footer bg-dark">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>ZHANBOLOT, SYIMYKBEK</h3>
            <p>I'm a Mobile App & Web Developer.</p>
            <ul class="social-icons">
                <li>
                    <a class="icon" href="https://www.instagram.com/atamov_19/" target="_blank"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="icon" href="https://www.instagram.com/syimyk_ernisov/" target="_blank"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<hr />
<footer class="footer footer-bar bg-dark">
    <div class="col-12 text-center">
        © 2022 Zhanbolot Dzhumabai uulu / Syimykbek Ernisov
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://kit.fontawesome.com/e4346a43b7.js" crossorigin="anonymous"></script>